// profile for the Gadi supercomputer at NCI
// Before running will need to run: 
// module load nextflow singularity 

// Gadi specific parameters
// More info: https://opus.nci.org.au/display/DAE/Nextflow
params {
    pbs_account = ''
    whoami = ''
}

// Preset use of containers with Singularity
singularity {
    enabled = true
    cacheDir = "/scratch/${params.pbs_account}/${params.whoami}/.nextflow/singularity"
    autoMounts = true
    temp = "scratch/${params.pbs_account}/${params.whoami}/containers"
}

process {
    module = 'singularity'
    cache = 'lenient'
    stageInMode = 'symlink'
    executor = 'pbspro'
    project = ''
    storage = 'scratch/'
    queue = 'normal'
    
    withName: 'processOne' {
        cpus = 1
        time = '1h'
        memory = '1GB'
}
    withName: 'processTwo' {
        cpus = 1
        time = '1h'
        memory = '1GB'
}}
