manifest {
	author = 'Georgie Samaha'
	name = 'Nextflow_DSL2_template-nf'
	description = 'Template for creating Nextflow workflows'
	homePage = 'https://github.com/Sydney-Informatics-Hub/Nextflow_DSL2_template'
}

// Mandate a minimum version of nextflow required to run the pipeline
nextflowVersion = '!>=20.07.1'

// Set default workflow parameters
params {
	help	= false
	version	= '1.1'
	outDir	= 'results'
	input	= false
	cpus	= 1
}

// Define container paths
params {
	ubuntu_container = "quay.io/bedrock/ubuntu:xenial-20201014"
}

// Resume pipeline from last successful process
resume = true 

// Fail a task if any command returns non-zero exit code
shell = ['/bin/bash', '-euo', 'pipefail']

// Produce a workflow diagram  
// More info: https://www.nextflow.io/docs/latest/tracing.html#dag-visualisation
dag {
	enabled = true
	overwrite = true
	file = 'runInfo/dag.svg'
}

// Output resource and runtime reports for a workflow run
// More info: https://www.nextflow.io/docs/latest/tracing.html
report {
	enabled = true
	overwrite = true
	file = 'runInfo/report.html'
}

timeline {
	enabled = true
	overwrite = true
	file = 'runInfo/timeline.html'
}

trace {
	enabled = true
	overwrite = true
	file = 'runInfo/trace.txt'
}

// Enable various profiles depending on compute infrastructure to be run on
// More info: https://www.nextflow.io/docs/latest/config.html#config-profiles
profiles {
	standard	{ includeConfig "config/standard.config"}
	gadi		{ includeConfig "config/gadi.config"	}     
	setonix		{ includeConfig "config/setonix.config"	}
	nimbus		{ includeConfig "config/nimbus.config"	}
}
