
manifest {
  author = 'Georgie Samaha'
  name = 'Nextflow_DSL2_template-nf'
  description = 'Workflow template created as a part of Aus BioCommons BYOD-CLI work'
  homePage = 'https://github.com/Sydney-Informatics-Hub/Nextflow_DSL2_template'

// Mandate a minimum version of nextflow required to run the pipeline
  nextflowVersion = '!>=20.07.1'
}

// resume pipeline from last successful process
resume = true 

// Enable various profiles depending on compute infrastructure to be run on
// For more info: https://www.nextflow.io/docs/latest/config.html#config-profiles
// Example from https://github.com/marcodelapierre/trinity-nf/blob/master/nextflow.config

profiles {

  singularity { includeConfig "config/singularity.config" }
  local   { includeConfig "config/local.config" }

}

// Set default parameters
// Any parameters provided by the user with a -params-file or 
// with --param (i.e. --outDir) command-line arguments will 
// override the values defined here

params {
    help = false
    outDir = false

    // Name containers to be used
	// container_samtools = "quay.io/biocontainers/samtools:1.14--hb421002_0"

}
