// profile for the Nimbus cloud at Pawsey

// Nimbus specific parameters
params {
	cluster = 'nimbus'
	work_dir = '/data/work'
}

workDir = ${params.work_dir}
process.cache = 'lenient'

docker {
	enabled = true
	runOptions = '-u $(id -u):$(id -g) -v ${params.work_dir}:${params.work_dir}'
}

process {
// Resource allocation for various processes
// Here you can be provide CPU and memory for all or various processes
// Defining it as a parameter means users can customise/override when running the command.
// you'll need to include this parameter in your process. See process1.nf for example.
  cpus = 1 

// To specify resources for a specific process, use the following: 
//  withName: 'samtools' {
//    cpus    = N 
//    memory  = 8.GB 
//  }
}
