// profile for the Setonix supercomputer at Pawsey

// Set default parameters
// Any parameters provided by the user with a -params-file or 
// with --param (i.e. --outDir) command-line arguments will 
// override the values defined here
  params {
    help     = false
    version  = '1.1'
    outDir   = './all_results'
    input    = false

// Setonix specific parameters
    cluster = 'setonix'
    slurm_account = 'pawseyXXXX'
    work_dir = "$MYSCRATCH/nxf_work"
    cache_dir = "$MYSOFTWARE/.nextflow_singularity"
  }

workDir = ${params.work_dir}
process {
  cache = 'lenient'
  stageInMode = 'symlink'
}


singularity {
  enabled = true
  envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH, SINGULARITYENV_LD_PRELOAD'
  cacheDir = ${params.cache_dir}
}

process {
  executor = 'slurm'
  clusterOptions = "--account=${params.slurm_account}"
  queue = 'work'

// Resource allocation for various processes
// Here you can be provide CPU and memory for all or various processes
// Defining it as a parameter means users can customise/override when running the command.
// you'll need to include this parameter in your process. See process1.nf for example.
  cpus = 1
  time = '1h'
  memory = '1800MB'
    
// To specify resources for a specific process, use the following:
//  withName: 'samtools' {
//    cpus = 64
//    time = '1d'
//    memory = '120GB'
//  }
}
executor {
  $slurm {
    queueSize = 1024
  }
}