// standard (default) profile

// Preset use of containers with Singularity
  singularity {
        enabled         = true
        autoMounts      = true
        temp            = '~/containers'
        }

// Name containers to be used for each module. For example:
// container__samtools = "quay.io/biocontainers/samtools:1.14--hb421002_0"

process {
// Resource allocation for various processes
// Here you can be provide CPU and memory for all or various processes
// Defining it as a parameter means users can customise/override when running the command.
// you'll need to include this parameter in your process. See process1.nf for example.
  cpus = 1 

// To specify resources for a specific process, use the following: 
//  withName: 'samtools' {
//    cpus    = N 
//    memory  = 8.GB 
//  }
}
