/// profile for the Nimbus cloud at Pawsey

/// Set default parameters
// Any parameters provided by the user with a -params-file or 
// with --param (i.e. --outDir) command-line arguments will 
// override the values defined here
  params {
    help     = false
    version  = '1.1'
    outDir   = './all_results'
    input    = false

// Nimbus specific parameters
    cluster = 'nimbus'
    work_dir = '/data/work'
  }

workDir = ${params.work_dir}
process.cache = 'lenient'


docker {
  enabled = true
  runOptions = '-u $(id -u):$(id -g) -v ${params.work_dir}:${params.work_dir}'
}

/// Name containers to be used for each module
// container__samtools = "quay.io/biocontainers/samtools:1.14--hb421002_0"


process {
/// Resource allocation for various processes
// Here you can be provide CPU and memory for all or various processes
// Defining it as a parameter means users can customise/override when running the command.
// you'll need to include this parameter in your process. See process1.nf for example.
  cpus = 1 

/// To specify resources for a specific process, use the following: 
//  withName: 'samtools' {
//    cpus    = N 
//    memory  = 8.GB 
//  }
}
