// =================================================================
// nextflow.config is the main configuration script for a nextflow pipeline
// Should contain the following sections:
	// A manifest for defining workflow metadata
	// Mandated minimal version of Nextflow required to run pipeline
	// Default workflow parameter definitions
	// Shell behaviour settings for the workflow
	// Execution reports
	// Configuration profiles
	// Default resource definitions for processes

// Examples are included for each section. Remove them and replace
// with project-specific code. For more information see:
// https://www.nextflow.io/docs/latest/index.html.
//
// ===================================================================

// Define some metadata for publishing pipeline on GitHub
// See https://www.nextflow.io/docs/latest/config.html#scope-manifest
manifest {
	author = 'Georgie Samaha'
	name = 'Nextflow_DSL2_template-nf'
	description = 'Template for creating Nextflow workflows'
	homePage = 'https://github.com/Sydney-Informatics-Hub/Nextflow_DSL2_template'
}

// Mandate a minimum version of nextflow required to run the pipeline
// See https://www.nextflow.io/docs/latest/config.html#nextflow-version
nextflowVersion = '!>=20.07.1'

// Set default workflow parameters
// See https://www.nextflow.io/docs/latest/config.html#scope-params 
params {
	help	= false
	outDir	= 'results'
	input	= false
}

// Fail a task if any command returns non-zero exit code
// See https://www.nextflow.io/docs/latest/process.html#script 
shell = ['/bin/bash', '-euo', 'pipefail']

// Produce a workflow diagram
// See https://www.nextflow.io/docs/latest/tracing.html#dag-visualisation
dag {
	enabled = true
	file = "${params.outDir}/runInfo/dag.svg"
}

// Output resource and runtime reports for a workflow run
// See https://www.nextflow.io/docs/latest/tracing.html
report {
	enabled = true
	file = "${params.outDir}/runInfo/report.html"
}

// Output an html timeline report 
// See https://www.nextflow.io/docs/latest/tracing.html#timeline-report 
timeline {
	enabled = true
	file = "${params.outDir}/runInfo/timeline.html"
}

// Output process execution trace file 
// See https://www.nextflow.io/docs/latest/tracing.html#trace-report
trace {
	enabled = true
	file = "${params.outDir}/runInfo/trace.txt"
}

// Enable profiles for different compute infrastructures or set up
// See https://www.nextflow.io/docs/latest/config.html#config-profiles
profiles {
	standard	{ includeConfig "config/standard.config"}
	gadi		{ includeConfig "config/gadi.config"	}     
	setonix		{ includeConfig "config/setonix.config"	}
	nimbus		{ includeConfig "config/nimbus.config"	}
}

// Set default resources for each process 
// See https://www.nextflow.io/docs/latest/config.html?highlight=withname#scope-process 
process {
	cpus = 1
	memory = 10.Gb
	}
